*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.argentina{
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-image:url(../img/laselecion.avif)
    
}

.jaja{
    letter-spacing: 2px;
}

.init{
    padding: 15px;
    width: 50%;
    margin: 0%;
}


 .jaja{
    padding: 15px;
    margin-top: 25px;
 }

 .img-fluid.arg{
    
        padding: 20px;
        width: 50%;
    
 }

 .masInformacion{
    text-align: center;
 }
 
 .est{
    margin: 20px;
 }

 .img-fluid.2022{
    width: 200px;
    height: 200px;
 }

 