header{
    .argentina{
        display: flex;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        background-image:url(../img/laselecion.avif)
        
    }
}

header{
    .jaja{
        padding: 15px;
        margin-top: 25px;
    }
}


header{
    .img-fluid.arg{
        padding: 20px;
        width: 50%;
    
    }
}

header{
    .img-fluid.img{
        display: flex;
    justify-content: center;
    align-items: center;
    }
}
