
    main{
        div{
            h2{
                .jaja{
                    letter-spacing: 2px;
                }
            }
        }
    }



    main{
        p{
            .init{
                padding: 15px;
                width: 50%;
                margin: 0%;
            }
        }
    }

    main{
        .est{
            margin: 20px;
        }
    }